{{ define "title" }} Home {{ end }} {{ define "body" }}
<div class="px-4 py-2 md:px-10 md:py-6">
  <div class="flex justify-between items-center">
    <h1 class="text-md text-accent-bold dark:text-accent font-bold">
      Pinned Playlists
    </h1>
    <div>
      <a
        href="#"
        class="text-md text-accent-bold dark:text-accent font-bold p-1 flex items-center border border-transparent rounded hover:border-accent hover:shadow-accent-light hover:shadow-sm transition-all duration-300"
      >
        {{ .User.Name }}
        <i class="ml-1 ph ph-user"></i>
      </a>
    </div>
  </div>
  <div class="w-full mt-2 flex flex-col justify-center">
    <!-- Pinned Playlists -->
    <div
      class="grid grid-cols-2 grid-rows-2 lg:grid-cols-4 lg:grid-rows-1 gap-2 place-content-center"
    >
      {{ range .PinnedPlaylists }} {{ template "playlistCard" .}} {{ end }}
    </div>
    <h1 class="my-2 text-md text-accent-bold dark:text-accent font-bold">
      Starred Tabs
    </h1>
    <!-- Starred Tabs -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
      {{ range .StarredTabs }} {{ template "playlistCard" .}} {{ end }}
    </div>
    <!-- Create Tab Floating Button -->
  </div>
</div>
{{ end }}
